<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" routerDirection="root">
        Home
      </ion-button>
      <ion-button>
        Access Card
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-text>
        <h2>Link Access Card</h2>
      </ion-text>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        Link Card
      </ion-col>

      <ion-col size="6">
        Link Card
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
